IDD_COMMAND_ALIAS_DIALOG DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Command Alias Manager"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Commands:",IDC_STATIC,10,10,50,10
    LISTBOX         IDC_LIST_COMMANDS,10,30,230,80,LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_COMMAND_INPUT,10,120,150,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Add",IDC_ADD_COMMAND_BUTTON,170,120,40,14
    PUSHBUTTON      "Edit",IDC_EDIT_COMMAND_BUTTON,170,100,40,14
    PUSHBUTTON      "Delete",IDC_DELETE_COMMAND_BUTTON,170,80,40,14
END
